body{
    background-color: #f5f5f5;
}
header{
    background-color: rgb(34, 109, 189);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}
ul{
display: flex;
color: rgb(251, 254, 254);
padding: 35px 70px;
list-style: none;
}
ul li{
    margin-left: 30px;
}
ul li a{
    text-decoration: none;
    color: white;
}
.hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 80vh;
      background-color: rgb(61, 61, 61);
    }
    .hero  h1 {
      font-size: 48px;
      margin-bottom: 10px;
    }
    .hero  p {
      font-size: 18px;
      margin-bottom: 30px;
    }
    .hero  button {
      background-color: white;
      color: #5b21b6;
      border: none;
      padding: 12px 30px;
      border-radius: 25px;
      font-size: 16px;
      cursor: pointer;
      font-weight: bold;
    }
    .hero button:hover {
      background-color: #e0e0e0;
    }
    
    body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
}
header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #a78bfa;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.icons {
  position: relative;
  font-size: 20px;
}
.cart-count {
  background: #6366f1;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -10px;
}
.featured {
  text-align: center;
  padding: 50px;
}
.featured h2 {
  font-size: 32px;
  color: #9978fc;
  margin-bottom: 40px;
}
.product-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.product-card {
  background: #383838;
  border-radius: 15px;
  width: 300px;
  padding: 15px;
  text-align: left;
  transition: transform 0.3s ease;
}
.product-card:hover {
  transform: scale(1.03);
}
.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  border-radius: 10px;
}
.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
  font-weight: bold;
}
.badge.new {
  background: #50ae5e;
}
.badge.sale {
  background: #f59e0b;
}
h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}
p {
  font-size: 14px;
  color: #ccc;
}
.stars {
  color: gold;
  margin: 8px 0;
}
.price {
  color: #a78bfa;
  font-weight: bold;
  margin-bottom: 10px;
}
button {
  background-color: #7c3aed;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: #6d28d9;
}
